<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>timer</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="styles.css" >
    <script src="timer.js"></script>
    
    
</head>
<body>
    <div>
        <nav id="nav-container">
            <ul class="nav-list">
                <li><a href="#">About</a></li>
                <li><a href="#">contact</a></li>
            </ul>
        </nav>
    </div>
    <div id="container">
        <div id="app-info">
            <h2>TIMER</h2>
            <P>Description</P>
        </div>
        <div id="timer-container">
            <div id="timer-one">
                <div  id="circle-container">
                    <svg width="450" height="345" class="svg-one">
                        <circle cx="170" cy="170" r="150" class="circle"/>
                        <text x="170" y="170" text-anchor="middle" dominant-baseline="middle">00:00</text>
                    </svg>
                </div>
                <button id="circle-button-one"></button>
            </div>
            <div id="timer-two">
                <div id="circle-container">
                    <svg width="450" height="345" class="svg-two">
                        <circle cx="170" cy="170" r="150" class="circle"/>
                        <text x="170" y="170" text-anchor="middle" dominant-baseline="middle">00:00</text>
                    </svg>
                </div>
                <button class="circle-button-two"></button> 
            </div>
        </div> 
        <div id="contact">
            <img src="facebook (2).png" class="socials"  alt="" width="40" height="40">
        </div>       
    </div>  
</body>
</html>